@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(154, 195, 241);

  .form {
    height: 450px;
    width: 500px;
    background-color: rgba(71, 70, 70, 0.37);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;

    .form-Wrapper {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: start;
      height: 100%;
      width: 100%;
      border-radius: 15px;

      .text-Wrap {
        height: 20%;
        width: 100%;
      }

      .label-Input-Wrap {
        display: flex;
        text-align: center;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        gap: 15px;
        width: 100%;

        label {
          color: white;
        }

        input {
          background-color: transparent;
          border-style: solid;
          border-top: none;
          border-left: none;
          border-right: none;
          border-color: rgb(255, 255, 255);
          width: 98%;
          height: 20px;
          color: white;
        }

        input:focus {
          padding: 2px;
          background-color: transparent;
          border-style: solid;
          border-top: none;
          border-left: none;
          border-right: none;
          border-color: rgb(255, 255, 255);
          width: 98%;
        }

        input:valid {
          font-size: 15px;
          outline: 0;
        }
      }

      .login-Btn-Wrap {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 10%;
        width: 100%;

        .login-Btn {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 15px;
          height: 40px;
          width: 100%;
          background-color: rgba(2, 255, 255, 0.705);
          border-style: solid;
          border-radius: 5px;
          border-width: 1px;
          cursor: pointer;
          transition: all;
          transition-duration: 0.2s;
        }

        .login-Btn:hover {
          font-weight: 500;
          font-size: 16px;
          height: 42px;
        }

        .login-Btn:active {
          font-weight: 500;
          font-size: 16px;
          background-color: rgba(96, 99, 99, 0.705);
          height: 42px;
        }
      }

      .terms-Wrapper {
        display: flex;
        text-align: center;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        width: 100%;

        p {
          font-weight: 500;

          a {
            color: white;
          }
        }
      }
    }
  }
}
